.products {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 1%;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .product {
    border: 1px none;
    height: 90%;
    margin: 1rem;
    padding: 1rem;
    line-height: 15px;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .product img {
    width: 100%;
    max-width: 500px;
    max-height: 200px;
  }
  .product_info {
    padding: 1rem;
  }
  .yeloowColor {
    color: black;
    font-size: 20px;
  }
  .sortingDiv {
    display: flex;
    height: 2px;
    width: 80%;
    border-top: 3px black solid;
    margin: auto;
  }
  .sub_sortingdiv {
    height: 19px;
    width: 26%;
    border: 2px solid black;
  }
  .button_distance{
    margin-right: 2%;
    width: 20%;
    height: 60px;
    padding: auto;
    border: 1px solid transparent;
    background-color: rgb(49, 122, 199);
    color: white;
    border-radius: 20px;
  }


  .button_distance:hover {
    opacity: 0.7;
    color: black;
  }
  .product_detail_div {
    height: 400px;
    width: 100%;
    /* border: 1px solid grey; */
    margin-top: 10%;
    display: flex;
  }
  .left_productDetail {
    width: 20%;
    height: 100%;
    border: 1px solid grey;
    margin-left: 5%;
    /* border-right: none; */
  }
  .right_productDetail {
    width: 40%;
    height: 100%;
    border: 1px solid grey;
    /* margin-left: 5%; */
    border-left: none;
    padding: 1%;
    line-height: 17px;
  }
  .left_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .lessbold {
    font-weight: 500;
  }
  .morelessbold {
    font-weight: 200;
    color: grey;
  }
  .addtocart {
    background-color: rgb(14, 113, 171);
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
  }
  
  @media only Screen and (min-width: 368px) and (max-width: 768px) {
    .products {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 1%;
      row-gap: 0.4%;
      padding-top: 5%;
    }
    .button_distance {
      margin-right: 2%;
      width: 20%;
      height: 60px;
    }
  
    /* --------------------------------------- */
    .product_detail_div {
      height: 650px;
      width: 95%;
      /* border: 1px solid grey; */
      margin-top: 10%;
      display: flex;
      margin-left: 15%;
    }
    .left_img {
      width: 70%;
      height: 50%;
      object-fit: cover;
      margin-top: 80%;
      margin-left: 15%;
    }
    .left_productDetail {
      width: 20%;
      height: 100%;
      border: 1px solid grey;
      margin-left: 5%;
      /* border-right: none; */
      line-height: 20px;
    }
    .right_productDetail {
      width: 40%;
      height: 100%;
      border: 1px solid grey;
      /* margin-left: 5%; */
      border-left: none;
      padding: 1%;
      line-height: 17px;
    }
  }
  
  @media only Screen and (min-width: 0px) and (max-width: 368px) {
    .products {
      display: grid;
      grid-template-columns: 80%;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 2%;
      row-gap: 0.4%;
      padding-top: 5%;
    }
  
    .button_distance {
      margin-right: 2%;
      width: 30%;
      height: 60px;
      margin-bottom: 5%;
    }
  
    /* ------------------------------------------ */
    .product_detail_div{
      height: 400px;
      width: 100%;
      /* border: 1px solid grey; */
      display: flex;
    }
    .left_img {
      width: 60%;
      height: 30%;
      object-fit: cover;
      margin-top: 50%;
      margin-left: 15%;
    }
    .left_productDetail {
      width: 20%;
      height: 100%;
      border: 1px solid grey;
      margin-left: 5%;
  
      /* border-right: none; */
    }
    .right_productDetail {
      width: 40%;
      height: 100%;
      border: 1px solid grey;
      /* margin-left: 5%; */
      border-left: none;
      padding: 1%;
      line-height: 17px;
    }
  }
  
  #singleProductDetail{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .product_detail_div{
    width: 75%;
  }

